:root{
    /*** Font ***/
    --font-primary:"League Spartan", sans-serif;
    --primary-font-size: 15px;

    --weight-400: 400;
    --weight-500: 500;
    --weight-700: 700;

    /*** Colors ***/

    /*  Primary */

    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);

    /*  Neutral */

    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}




/* Do not change yet */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: var(--font-primary);
    font-size: var(--primary-font-size);
}


.background__test{
    max-width: 375px;
    height:1530px;
    border: 1px solid red;

    background-image: url('./images/bg-pattern-top-mobile.svg'), 
                      url('./images/bg-pattern-bottom-mobile.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;


}

.container {
    width: min(87.5%, 1150px);
    margin: 0 auto;
    padding-block: 5rem;
    border: 1px solid black;
}

/* Header */
.header{
    text-align:center;
    letter-spacing: -1.2px;
    margin-bottom: 2.5rem;
}

.header h2{
    color: var(--Very-Dark-Magenta);
    font-size: 3rem;
    margin-bottom: 1.125rem;
}

.header p{
    color: var(--Dark-Grayish-Magenta);
    font-size: 1.35rem;
    font-weight: var(--weight-500);
    line-height: 1.5;
}

/* Rating */
.rating-box{
    background-color: var(--Light-Grayish-Magenta);
    color: var(--Very-Dark-Magenta);
}


/* Testimonial */
.container__cards{
    background-color: var(--Very-Dark-Magenta);
}

@media (min-width:800px) {
    .background__test {
        max-width: 1400px;
        height: 800px;
        border: 1px solid blue;

        background-image: url('./images/bg-pattern-top-desktop.svg'), 
                          url('./images/bg-pattern-bottom-desktop.svg');
        background-repeat: no-repeat, no-repeat;
        background-position: top left, bottom right;

        display: flex;
        justify-content: center;
        align-items: center;

    }

}