:root{
    /*** Font ***/
    --font-primary:"League Spartan", sans-serif;
    --primary-font-size: 15px;

    --weight-400: 400;
    --weight-500: 500;
    --weight-700: 700;

    /*** Colors ***/

    /*  Primary */

    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);

    /*  Neutral */

    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}




/* Do not change yet */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: min(90%, 1150px);
    margin: 0 auto;
    border: 1px solid black;
}



.background__test{
    max-width: 375px;
    height:1530px;
    border: 1px solid red;

    background-image: url('/images/bg-pattern-top-mobile.svg'), 
                      url('/images/bg-pattern-bottom-mobile.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;

}

@media (min-width:800px) {
    .background__test {
        max-width: 1400px;
        height: 800px;
        border: 1px solid blue;

        background-image: url('/images/bg-pattern-top-desktop.svg'), 
                          url('/images/bg-pattern-bottom-desktop.svg');
        background-repeat: no-repeat, no-repeat;
        background-position: top left, bottom right;
    }

}